@charset "UTF-8";
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body {
	font-size:14px; 
	color: #121D36;
	outline: 0;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
a {
	color: #121D36;
	text-decoration: none;
	background-color: transparent;
}
a:hover{
	/*color: #1765FF;*/
}
ul, li {
	list-style: none;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.clearfix:after {
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';  /* project id 1210319 */
  src: url('//at.alicdn.com/t/font_1210319_mt1t0q8ghu.eot');
  src: url('//at.alicdn.com/t/font_1210319_mt1t0q8ghu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1210319_mt1t0q8ghu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1210319_mt1t0q8ghu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1210319_mt1t0q8ghu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1210319_mt1t0q8ghu.svg#iconfont') format('svg');
}
/*设置input输入框*/
input::-webkit-input-placeholder { color: #838998 ;font-size: 14px;}
input:-moz-placeholder { color: #838998;font-size: 14px;}
input::-moz-placeholder { color:  #838998;font-size: 14px;}
input:-ms-input-placeholder{ color: #838998;font-size: 14px;}		
/*外层设置1200px*/
.wrap{
	width: 1200px;
	margin: auto;
}
/*撑起heard的fixed定位距离*/
.content-top{
	height: 80px;
	width: 100%;
}
/*阴影*/
.shadow{box-shadow: 0 1px 6px rgba(38,45,46,.3);}
/*背景颜色*/
.bg-grayer{background-color:#F8F9FB;}
.bg-blue{background-color:#F8F9FB;}
.bg-white{background-color:#ffffff;}
/*字体颜色*/
.text-black{color:#121D36 !important;}
.text-white{color:#ffffff !important;}
.text-grayer{color:#838998 !important;}
.text-theme{color:#1765FF !important;}  /*蓝色*/
.text-orange{color:#FE7648 !important;} /*橘色*/
/*字体大小*/
.font-size-12{font-size: 12px;}
.font-size-14{font-size: 14px;}
.font-size-16{font-size: 16px;}
.font-size-18{font-size: 18px;}
.font-size-20{font-size: 20px;}
.font-size-22{font-size: 22px;}
.font-size-24{font-size: 24px;}
.font-size-26{font-size: 26px;}
.font-size-28{font-size: 28px;}
.font-size-30{font-size: 30px;}
/*字体居中*/
.text-center{text-align: center;}
/*字体加粗*/
.font-w{font-weight: 500;}
.font-bd{font-weight:bold;}
/*隐藏显示*/
.disnone{ display:none !important;}
.disblock{ display: block !important;}
/*鼠标经过*/
.hover:hover{
	color: #1765FF;
	cursor: pointer;
}
/*边框*/
.border-b{border-bottom: solid 1px #E6EBF4 ;}
/*超出隐藏*/
.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.ellipsis-3{
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal !important;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
/*heard*/
.heard{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 80px; 
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
	border: 0px solid rgba(151, 151, 151, 1);
}
.heard .logo{
	margin: 0 25px;
	line-height: 80px;
}
.heard ul.nav{
	margin: 0 50px;
	line-height: 80px;
}
.heard ul.nav li{
	margin: 0 25px;
	padding: 0 5px;
}
.heard ul.nav li a:hover{
	color: #1765FF;
}
.heard ul.nav li.on a{
	color: #1765FF;
}
.heard ul.nav li.on{
	border-bottom: solid 2px #1765FF;
}
.heard .seach{
	height: 80px;
	line-height: 80px;
}
.heard .seach .inpt{
	padding:0 10px; 
	height: 34px;
	line-height: 34px;
	border: solid 1px #E6EBF4;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
}
.heard .seach .inpt input{
	width: 130px;
	margin: 0 20px;
}
.heard .zhuce{
	height: 80px;
}
.heard .zhuce a{
	height: 34px;
	line-height: 34px; 
	width: 105px;
	background-color:#1765FF;
	border-radius: 2px;
	display: inline-block;
	vertical-align: middle;
}
.heard .already{
	height:80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;width: 140px;
}
.heard .already .head-pic{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: solid 1px #E6EBF4;
	position: relative;
	cursor: pointer;
}
.heard .already .head-pic img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.heard .already .gwc .line{
	position: absolute;
	top: -8px;
	right: -8px; 
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color:#FE7648;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}
.heard .grxx{
	margin-right: 30px;
}
.heard .grxx:hover .pop{
	display: block;
}
/*已登录的弹窗*/
.heard .pop{
	display: none;
	position: absolute;
	top: 36px;
	left:50%;
	margin-left: -100px;
	z-index: 99;
}
.heard .pop .inner{
	background-color: #fff;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
	width: 200px;
	border-radius: 10px;
	padding: 20px 15px 0 15px;
    box-sizing: border-box;
    overflow: hidden;
}
/*.heard .pop .inner:after{
	position: absolute;
    display: inline-block;
    top: -9px;
    right: 32px;
    width: 0;
    height: 0px;
    content: '';
    border-style: solid;
    border-width: 9px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-405deg);
}*/
.heard .pop .inner .info .pic{
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: solid 1px #bcb9b7;
}
.heard .pop .inner .info .pic img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.heard .pop .inner .info .name{
	float: left;
	margin-left: 10px;
	width: 100px;
}
.heard .pop .inner .info .name p{
	font-size: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.heard .pop .inner .gkls{
	margin: 20px auto;
	height: 1px;
	background-color: #E6EBF4;
}

.heard .pop .inner .jl ul li{
	margin-bottom: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.heard .pop .inner .jl ul li a{
	color:#838998;
	font-size: 14px;
}
.heard .pop .inner .jl ul li a:hover{
	color: #1765FF;
}
.heard .pop .inner .quit{
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	color: #838998;
	padding: 12px 0;
	border-top: solid 1px #E6EBF4;
}

/*footer*/
.footer{
	height: 136px;
	padding: 50px 0;
	background-color: #fff;
	box-sizing: content-box;
}
.footer .phone{
	width: 260px;
	height:136px;
	border-right: solid 1px #E6EBF4;
}
.footer .lxwm{
	padding-left: 50px;
}
.footer .code{
	width: 110px;
	margin-right: 25px;
}
.footer .code:last-child{
	margin-right: 0;
}
.footer .code .inner{
	height: 110px;
	border: solid 1px #E6EBF4;
	border-radius: 5px;
	padding: 13px;
}
.footer .code .inner img{
	width: 100%;
	height: 100%;
}
.footer .name{
	margin-top: 10px;
	text-align: center;
}
/*标题*/
.public-title{
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.public-title ul li{
	float: left;
	padding: 0 15px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	margin-left: 15px;
}
.public-title ul li.on{
	color: #fff;
	background-color:#1765FF;
	border-radius:5px;
}
/*分页*/
.page-out{
	padding: 30px 0;
	text-align: center;
	margin-bottom: 30px;
}
.page-out .page{
	display: inline-block;
}
.page-out .page .wrpage{
	display: inline-block;
	background:#F8F9FB;
	margin-left: 4px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #F8F9FB;
	color: #979797;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: content-box;
}
.page-out .page a.wrpage:hover{
	background: #FFFFFF;
	color: black;
	border: solid 1px #1765Ff;
}
.page-out .page a {  
	text-decoration:none;
	color: white;
 }
 .page-out .page .wrpage_number{
	width: 24px;
	 font-size: 14px;
	 text-align: center;
 }
 .page-out .page .wr_dotted{
	 height: 24px;
	 line-height: 24px;
	 display: inline-block;
 }
 .page-out .page .curwrpage{
	 background: #1765Ff;
	 border: 1px solid #1765Ff;
	 color: #fff;
 }
 /*banner*/
 .banner{
	height: 360px;
}
.banner .swiper-slide{
	height: 360px;
}
.banner .swiper-slide img{
	width: 100%;
	height: 100%;
}
/*赛事推荐 首页*/
.saishi-tuijian{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 30px;
}
.saishi-tuijian li{
	width: 23.5%;
	margin-right: 2%;
	margin-bottom: 30px;
}
.saishi-tuijian li:nth-of-type(4n){
	margin-right: 0;
}
.saishi-tuijian li .pic{
	height: 180px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom:10px;
}
.saishi-tuijian li .pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*动态协会 首页*/
.dongtai-xiehui{padding: 0 30px;margin: 30px auto;}
.dongtai-xiehui li{padding: 30px 0;border-bottom: solid 1px #E6EBF4;}
.dongtai-xiehui li .pic{width: 280px;height: 180px;border-radius: 5px;overflow: hidden;position: relative;}
.dongtai-xiehui li .pic img{width: 100%;height: 100%;object-fit: cover;}
.dongtai-xiehui li .text{padding-left: 310px;cursor: pointer;}
.dongtai-xiehui li .bt{margin: 10px 0;}
.dongtai-xiehui li .bt:hover{color: #1765FF;}
.dongtai-xiehui li .fbt{margin: 15px 0;line-height: 26px;}
.dongtai-xiehui li .bq{margin-top:20px;}

 /*商品列表  搜索*/
.shop-list ul{margin: 30px 0 20px;}
.shop-list li{width:290px;padding: 20px 20px 0 20px;margin-right:13px;margin-bottom: 15px;cursor: pointer;}
.shop-list li:nth-of-type(4n){margin-right: 0;}
.shop-list li .pic{height: 250px;overflow: hidden;}
.shop-list li .pic img{width: 100%;height: 100%;object-fit: cover;}
.shop-list li .text{padding: 20px 0;}
.shop-list li .num{padding-top: 13px;display: flex;justify-content: space-between;align-items: center;}
.shop-list .ellipsis-2{height: 48px;line-height: 24px;}

 /*商家列表  搜索*/
.shangjia-list{margin: 30px auto;padding: 0 30px;}
.shangjia-list li{padding: 30px 0;border-bottom: solid 1px #E6EBF4;}
.shangjia-list li .info{width: 380px;}
.shangjia-list .info .num{margin-top:105px;}
.shangjia-list .sj-pic{height: 70px;width: 70px;border: solid 1px #E6EBF4;overflow: hidden;}
.shangjia-list .sj-pic img{width: 100%;height: 100%;object-fit: cover;}
.shangjia-list .xinxi{padding-left: 85px;}
.shangjia-list .margin-t5{margin-top: 5px;}
.shangjia-list .pic .wc{margin-right: 15px;cursor: pointer;}
.shangjia-list .pic .wc:nth-of-type(4n){margin-right: 0;}
.shangjia-list .pic .pic-nr{width: 170px;height: 170px;overflow: hidden;}
.shangjia-list .pic .pic-nr img{width: 100%;height: 100%;object-fit: cover;}
.shangjia-list .pic .num{margin-top: 15px;}

/*钓场列表  搜索*/
.diaochang-list{margin: 30px auto;padding: 0 30px;}
.diaochang-list li{padding: 30px 0;border-bottom: solid 1px #E6EBF4;}
.diaochang-list .pic{height: 170px;width: 300px;}
.diaochang-list .pic img{width: 100%;height: 100%;object-fit: cover;}
.diaochang-list .info{padding-left: 320px;cursor: pointer;}
.diaochang-list .margin-t{margin-top: 10px;}
.diaochang-list .ditu{margin-left: 50px;}
.diaochang-list .dw{width: 13px;vertical-align: sub;}

/*比赛列表 搜索*/
.bisai-list{margin: 30px auto;padding: 0 30px;}
.bisai-list li{padding: 30px 0;border-bottom: solid 1px #E6EBF4;}
.bisai-list li .pic{width: 280px;height: 170px;border-radius: 5px;overflow: hidden;position: relative;}
.bisai-list li .pic img{width: 100%;height: 100%;object-fit: cover;}
.bisai-list li .text{padding-left: 310px;cursor: pointer;}
.bisai-list .margin-t{margin-top: 15px;}
.bisai-list .icon{width: 14px;vertical-align: middle;margin-right:8px;}

/*购物车*/
.cart-head .checkbox,.cart-body .checkbox{cursor: pointer;}
.cart-inner{padding: 30px;}
.cart-inner .name{padding: 30px 0;line-height: 1;}
.cart-body{width: 100%;background-color:#F8F9FB;border: solid 1px #E6EBF4 ;}
.border-none{border:none;}
.cart-body td{padding: 20px 0;text-align: center;border-bottom: solid 1px #E6EBF4 ;}
.cart-body tr:last-child td{border-bottom: none;}
.cart-body .info{text-align: left;}
.cart-body .margin-t10{margin-top: 10px;}
.cart-body .pic{margin-left: 25px;width: 80px;height: 80px;overflow: hidden;margin-right: 10px;}
.cart-body .pic img{width: 100%;height: 100%;object-fit: cover;}
.cart-body .jiajie{width:170px;}
.cart-body .del{cursor: pointer;}
.cart-body .num{width: 120px;margin: auto;display: flex;align-items: center;justify-content: space-between; border: solid 1px #ccc;}
.cart-body .num .cz{cursor: pointer;width: 40px;height: 23px;display: flex;justify-content: center;align-items: center;}
.cart-body .jia{border-right:solid 1px #ccc;}
.cart-body .jian{border-left:solid 1px #ccc;}

.cart-head th{font-weight: inherit; height: 60px;font-size: 16px;border: none;}
.cart-head .xiadan{background-color: #FE7648 ;color: #fff;cursor: pointer;line-height: 45px;border-radius: 2px;overflow: hidden;}
.cart-head .money{margin: 10px 0;border-left: solid 1px #e2e8e9;}
.cart-head .money span{vertical-align: middle;}
.cart-head .heji p{color: #92a2a4;font-size: 14px;}

/*评价*/
.public-pingjia{padding: 0 30px;margin: 30px 0;}
.public-pingjia .inner li{padding: 20px 0;}
.public-pingjia .inner li:last-child{border-bottom: none;}
.public-pingjia .inner li .info{float: left;width: 200px;}
.public-pingjia .inner li .pingjia{padding-left: 200px;}
.public-pingjia .inner li .head-pic{float: left; width: 40px;height: 40px;border-radius: 50%;overflow: hidden;}
.public-pingjia .inner li .head-pic img{width: 100%;height: 100%;object-fit: cover;}
.public-pingjia .inner li .pingfen{padding-left: 50px;}
.public-pingjia .inner li .pingfen .name{padding: 3px 0 2px;}
.public-pingjia .inner li .pingfen .star1{width:11px;margin-right:4px;}
.public-pingjia .inner li .pingjia .nr{line-height: 26px;}
.public-pingjia .inner li .pingjia .pic{float: left; width: 70px;height: 70px;margin: 10px 10px 0 0;border-radius:3px;overflow: hidden;}
.public-pingjia .inner li .pingjia .pic img{width: 100%;height: 100%;object-fit:cover;}
.public-pingjia .inner li .pingjia .time{margin-top: 10px;}
.public-pingjia .inner li .pingjia .sjgf{margin-top: 20px; padding-top:10px;border-top: solid 1px #E6EBF4;}
.public-pingjia .inner li .pingjia .sjgf .nr{line-height: 24px;margin-top: 2px;}

/*个人中心 左侧切换*/
.menu{float: left; width: 258px; margin-right: 15px;}
.menu .info{text-align: center;padding: 30px 20px;}
.menu .info .pic{margin: 10px auto 15px; width: 80px;height: 80px;border-radius: 50%;overflow: hidden;}
.menu .info .pic img{width: 100%;height: 100%;object-fit: cover;}
.menu .info .rz-btn,.menu .info .bj-btn{cursor: pointer;border-radius: 2px;overflow: hidden;height: 36px;line-height: 36px;margin-top: 10px;text-align: center;}
.menu .info .rz-btn{background-color: #1765FF;}
.menu .info .bj-btn{border: solid 1px #E6EBF4;}
.menu .tab{margin-top: 15px;}
.menu .tab li{padding: 12px 25px;cursor: pointer;position: relative;}
.menu .tab li.on{color: #1765FF;}
.menu .tab li.on:after{content:'';position: absolute;top:5px;left: 0;width: 3px;height: 30px;background-color:#1765FF;}
.menu .tab li.tc{border-top: solid 1px #E6EBF4;}
/*个人中心 右侧内容*/
.mine-right{width: 100%;}
.mine-right .nav .item{float: left; height: 70px;line-height: 70px;margin-left: 35px;cursor: pointer;}
.mine-right .nav .on{color:#1765FF;border-bottom: solid 2px #1765FF;}


/*弹窗  */
.popup{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.4);}
.popup .close{float: right;width: 20px;height: 20px;}
.popup textarea::-webkit-input-placeholder,.popup input::-webkit-input-placeholder { color: #AEAEAE;font-size:12px;}
.popup textarea:-moz-placeholder,.popup input:-moz-placeholder { color: #AEAEAE;font-size:12px;}
.popup textarea::-moz-placeholder,.popup input::-moz-placeholder { color:#AEAEAE;font-size: 12px;}
.popup textarea:-ms-input-placeholder,.popup input:-ms-input-placeholder{ color:#AEAEAE;font-size: 12px;}
.popup .text-center{text-align: center;}

/*登陆 公用*/
.popup .login{width: 380px; margin-left: -190px;position: absolute; top:20%;left: 50%;border-radius: 5px;overflow: hidden;}
.popup .login .inner{padding:20px 40px 20px;}
.popup .login .more{padding: 13px 17px;background-color:#F8F9FB;}
.popup .login .qita{vertical-align: middle;}
.popup .login .right-icon{width:8px;vertical-align: middle;}
.popup .login .form{margin:30px auto;}
.popup .login .form .inpt{border: solid 1px #E6EBF4;border-radius: 5px;height: 46px;line-height: 46px;padding: 0 15px;margin-bottom: 13px;}
.popup .login .form .inpt input{margin-left: 5px;}
.popup .login .form .tj-btn{cursor: pointer;height: 46px;line-height: 46px;color: #fff; text-align: center;border-radius: 5px; background-color:#1765FF;margin-top: 25px;}
.popup .login .form .yzm{margin-bottom: 13px;}
.popup .login .form .yzm input{width: 175px;border: solid 1px #E6EBF4;border-radius: 5px;height: 46px;line-height: 46px;padding: 0 15px;}
.popup .login .form .yzm .yzm-btn{cursor: pointer; margin-left: 10px;width: 110px;height: 46px;line-height: 46px;text-align: center; border-radius: 5px;background-color:#F8F9FB;color:#1765FF;cursor: pointer;}
/*添加地址*/
.add-address{width: 554px;margin-left: -277px;padding:20px 30px 70px;position: absolute; top:20%;left: 50%;border-radius: 5px;overflow: hidden;}
.add-address .form{margin-top: 20px;}
.add-address .form li{margin-bottom: 15px;line-height: 30px;}
.add-address .form li .name{width: 90px;color: #999;font-size: 12px;text-align: right;line-height: 30px;}
.add-address .form li .inpt{margin-left: 100px;}
.add-address .form li .inpt select,
.add-address .form li .inpt input,
.add-address .form li .inpt textarea{height: 30px;border: solid 1px #C4C6CF;border-radius: 2px;width: 335px;padding: 0 10px;}
.add-address .form li .inpt textarea{height: 52px !important;resize: none;padding: 7px 10px;}
.add-address .moren{margin-left: 100px;display: flex;align-items: center;margin-bottom: 20px;}
.add-address .moren input{margin-right: 10px;}
.add-address .btn{cursor: pointer;margin-left: 100px;width: 50px;height: 28px;border-radius: 2px;background-color:#1765FF;color: #fff;font-size: 12px;text-align: center;line-height: 28px;}



/*视频播放*/
.video{height: 560px;background-color: #111111;}
.video .inner{width:930px;padding:10px;background-color: #2f2f2f;}
.video .list{width:270px;padding: 0 20px;    position: relative;}
.video .list .title{height: 42px;line-height: 42px;margin-bottom: 10px; border-bottom: solid 1px #494949;color: #707070;}
.video .list ul{position: absolute;width: 245px;height: 497px;overflow-y: scroll;}
.video .list li{width: 220px;background-color: #2f2f2f;border: solid 1px #494949;height: 35px;line-height: 35px;padding: 0 15px;margin-bottom: 10px;color: #707070;cursor: pointer;}
.video .list li.on{color: #cf8313;border: solid 1px #cf8313;background-color: #535353;}

