@font-face {font-family: "iconfont";
  src: url('iconfont.woff') format('woff')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hudong:before {
  content: "\e7aa";
}

.icon-fengxianceping01:before {
  content: "\e615";
}

.icon-zhibo1:before {
  content: "\e628";
}

.icon-xiaoxi:before {
  content: "\e681";
}

.icon-caiwu:before {
  content: "\e67d";
}

.icon-zuoye:before {
  content: "\e625";
}

.icon-zhishihudong:before {
  content: "\e60c";
}

.icon-xuesheng:before {
  content: "\e7c0";
}

.icon-renyuanguanli:before {
  content: "\e655";
}

.icon-ziliaoduibi:before {
  content: "\e787";
}

.icon-suishishangke:before {
  content: "\e63f";
}

.icon-tongji:before {
  content: "\e878";
}

.icon-xueshengguanli:before {
  content: "\e673";
}

.icon-fangzidichan:before {
  content: "\e627";
}

.icon-gengduo:before {
  content: "\e604";
}

.icon-airudiantubiaohuizhi-zhuanqu_zhibojian:before {
  content: "\e69f";
}

.icon-jiaoshi:before {
  content: "\e722";
}

.icon-kaoshi:before {
  content: "\e62f";
}

.icon-jiaoshi1:before {
  content: "\e637";
}

.icon-shoujidiannao:before {
  content: "\e62d";
}

.icon-xiaoxizhongxin:before {
  content: "\e6df";
}

.icon-yewutubiao_xueshengchaxun:before {
  content: "\e6fa";
}

.icon-ic_biye:before {
  content: "\e68c";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e607";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-zhibo2:before {
  content: "\e74f";
}

.icon-xingtuxuetang-neixunshi-:before {
  content: "\e608";
}
